* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}

header {
  text-align: center;
  background-color: #49a0eb;
  padding: 2rem;
  color: white;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.buttons > button {
  margin-right: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  /* background-color: #49a0eb; */
  color: white;
}

.active {
  background-color: #49a0eb;
  box-shadow: 10px -2px 28px -16px rgba(0, 0, 0, 0.58);
}

.inActive {
  background-color: gray;
}

.book-details-container {
  width: 80vw;
  margin: auto;
  background-color: antiquewhite;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.book-details {
  margin-bottom: 15px;
}
